<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <div id="form_fundo_logado">
        <h1> - Felpy_sistem - </h1>
        <div id="form_frente_logado", methods="post">
            <button type="button" class="btn_caixa">CAIXA</button>
            <button type="button" class="btn_estoque">ESTOQUE</button>
            <button type="button" class="btn_fechamento">FECHAMENTO DE CAIXA</button>
            <button type="button" class="btn_sair" onclick="location.href='/logout'">SAIR</button>
        </div>
    </div>

</body>
</html>